    @include tablet {
        .contenedor-anuncios {
            @include grid(3, 2rem)
        }
    }
    
    .casa {
        margin-top: 2rem;
    }
    
    .informacion-casa {
        background-color: $gris;
        border: $gris 1px groove;
        span {
            font-size: 3.5rem;
            font-weight: $bold;
            color: $verde;
            margin: 1rem;
        }
    }
    
    .iconos-oferta {
        display: flex;
        padding: 1rem;
        margin-left: 1rem;
        max-width: 40rem;
        li {
            display: flex;
            flex: 1;
        }
        img {
            flex: 0 0 3rem;
            margin-right: 1rem;
        }
        p {
            font-weight: $black;
        }
    }
    
    .alinear-derecha {
        display: flex;
        justify-content: flex-end;
    }
    
    .casa .informacion-casa {
        padding: 2rem;
    }